src/DigitalX/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ClassLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductService_findAll_InputMessage">
    <wsdl:part name="parameters" element="tns:findAll" />
  </wsdl:message>
  <wsdl:message name="IProductService_findAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:findAllResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_findAll_SetErrorDetailsFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" name="detail" element="q1:SetErrorDetails" />
  </wsdl:message>
  <wsdl:message name="IProductService_find_InputMessage">
    <wsdl:part name="parameters" element="tns:find" />
  </wsdl:message>
  <wsdl:message name="IProductService_find_OutputMessage">
    <wsdl:part name="parameters" element="tns:findResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_find_SetErrorDetailsFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" name="detail" element="q2:SetErrorDetails" />
  </wsdl:message>
  <wsdl:message name="IProductService_topFive_InputMessage">
    <wsdl:part name="parameters" element="tns:topFive" />
  </wsdl:message>
  <wsdl:message name="IProductService_topFive_OutputMessage">
    <wsdl:part name="parameters" element="tns:topFiveResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_topFive_SetErrorDetailsFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" name="detail" element="q3:SetErrorDetails" />
  </wsdl:message>
  <wsdl:message name="IProductService_CreateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomer" />
  </wsdl:message>
  <wsdl:message name="IProductService_CreateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_findCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:findCustomer" />
  </wsdl:message>
  <wsdl:message name="IProductService_findCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:findCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductService">
    <wsdl:operation name="findAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/findAll" message="tns:IProductService_findAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/findAllResponse" message="tns:IProductService_findAll_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IProductService/findAllSetErrorDetailsFault" name="SetErrorDetailsFault" message="tns:IProductService_findAll_SetErrorDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/find" message="tns:IProductService_find_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/findResponse" message="tns:IProductService_find_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IProductService/findSetErrorDetailsFault" name="SetErrorDetailsFault" message="tns:IProductService_find_SetErrorDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="topFive">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/topFive" message="tns:IProductService_topFive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/topFiveResponse" message="tns:IProductService_topFive_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IProductService/topFiveSetErrorDetailsFault" name="SetErrorDetailsFault" message="tns:IProductService_topFive_SetErrorDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/CreateCustomer" message="tns:IProductService_CreateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/CreateCustomerResponse" message="tns:IProductService_CreateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/findCustomer" message="tns:IProductService_findCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/findCustomerResponse" message="tns:IProductService_findCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductService" type="tns:IProductService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="findAll">
      <soap:operation soapAction="http://tempuri.org/IProductService/findAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SetErrorDetailsFault">
        <soap:fault use="literal" name="SetErrorDetailsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="find">
      <soap:operation soapAction="http://tempuri.org/IProductService/find" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SetErrorDetailsFault">
        <soap:fault use="literal" name="SetErrorDetailsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="topFive">
      <soap:operation soapAction="http://tempuri.org/IProductService/topFive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SetErrorDetailsFault">
        <soap:fault use="literal" name="SetErrorDetailsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <soap:operation soapAction="http://tempuri.org/IProductService/CreateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findCustomer">
      <soap:operation soapAction="http://tempuri.org/IProductService/findCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductService">
    <wsdl:port name="BasicHttpBinding_IProductService" binding="tns:BasicHttpBinding_IProductService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/ProductService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>